.dropdown-wrapper {
	margin-right: 20em;
	margin-left: 1em;
}

.dropdown-header {
	margin-bottom: -.5em;
}

.dropdown-header button {
	font-weight: bold;
	background: transparent;
	border: none;
	color: white;
	font-size: 1.5rem;
}

.list {
	margin-top: 1em;
}

.list-item button {
	display: block;
	font-size: 1.5rem;
	background-color: transparent;
	border: none;
	padding: 0.5em 1em;
}

.list-item button:focus {
	border: 1px solid white;
	border-radius: 4px;
}

.list-title {
	color: var(--buttonPrimary);
}
