.dropdown-wrapper {
	margin-right: 20em;
	margin-left: 1em;
}

.dropdown-header {
	margin-bottom: -.5em;
}

.dropdown-header button {
	font-weight: bold;
	background: transparent;
	border: none;
	color: white;
	font-size: 1.5rem;
}

.list {
	position: absolute;
	z-index: 99;
	margin-top: -7em;
	box-shadow: 0 2px 5px rgb(0,0,0);
}

.list-item button {
	width: 100%;
	border: none;
	font-size: 1.5rem;
	color: white;
	background-color: var(--buttonPrimary);
	padding: .3em .8em;
	border-radius: 4px;
}

.list-item button:focus {
	background-color: var(--buttonSecondary);
}

