.filter {
	display: flex;
	justify-content: center;
	width: 100%;
	min-width: 2rem;
	overflow-wrap: break-word;
	margin-top: 1em;
}

.filter input {
	margin-bottom: 1rem;
	background-color: white;
	height: 2em;
	border-radius: 4px;
	padding: .2em .3em;
}
